<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue 萬年曆</title>
  <style>
    [v-cloak] {
      display: none;
    }

    html {
      text-align: center;
    }

    .calendar {
      margin: 30px 0;

    }

    .weekDay,
    .week {
      display: flex;
      border-bottom: 1px solid #ccc;
    }

    .weekDay>div {
      flex: 1 1 0%;
      line-height: 30px;
    }

    .week {
      border-right: 1px solid #ccc;
    }

    .week>div {
      flex: 1 1 0%;
      line-height: 30px;
      height: 90px;
      border-left: 1px solid #ccc;
      position: relative;
    }

    .week>div::before {
      content: attr(data-date);
      position: absolute;
      display: block;
      width: 30px;
      top: 0;
      right: 0;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }

    .other {
      color: #ccc
    }

    .today {
      color: red
    }

    .day span {
      display: block;
      background-color: #eee;
    }

    .todos span.done {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <h1>{{ calendar.year }} 年 {{ calendar.month + 1 }} 月</h1>
    <button @click="adjustYear(-1)">上一年</button>
    <button @click="adjustMonth(-1)">上個月</button>
    <button @click="setToday()">今天</button>
    <button @click="adjustMonth(1)">下個月</button>
    <button @click="adjustYear(1)">下一年</button>
    <div class="calendar">
      <div class="weekDay">
        <div>日</div>
        <div>一</div>
        <div>二</div>
        <div>三</div>
        <div>四</div>
        <div>五</div>
        <div>六</div>
      </div>
      <div class="week" v-for="i in 6">
        <div class="day" v-for="j in 7" :data-date="calendarMonth[(i-1)*7+j-1].date" :class="{
          today:calendarMonth[(i-1)*7+j-1].year === today.year && calendarMonth[(i-1)*7+j-1].month === today.month && calendarMonth[(i-1)*7+j-1].date === today.date,
          other:calendarMonth[(i-1)*7+j-1].month  !== calendar.month
        }" @dblclick="addTodo(calendarMonth[(i-1)*7+j-1])">
          <span v-if="calendarMonth[(i-1)*7+j-1].count">{{ calendarMonth[(i-1)*7+j-1].count }}</span>
        </div>
      </div>
    </div>
    <div class="todos">
      <div v-for="item in currentMonth">
        {{ item.month + 1 }} / {{ item.date }}
        <ul v-for="(todo,index) in item.todos">
          <li>
            <input type="checkbox" v-model="todo.done">
            <span :class="{done:todo.done}" @dblclick="editTodo(todo)">{{ todo.content }}</span>
            <button @click="deleteTodo(item,index)">刪除</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js'></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data() {
        return {
          today: {
            year: 0,
            month: 0,
            date: 0,
            day: 0
          },
          calendar: {
            year: 0,
            month: 0,
            date: 0,
            day: 0
          },
          todos: {}
        }
      },
      mounted() {
        this.setToday()
        let localStorage = JSON.parse(window.localStorage.getItem('myTodos')) || {}
        this.$set(this, 'todos', localStorage)
      },
      methods: {
        deleteTodo(item, index) {
          if (window.confirm('確認要刪除嗎？')) {
            item.todos.splice(index, 1)
            window.localStorage.setItem('myTodos', JSON.stringify(this.todos))
          }
        },
        editTodo(todo) {
          let content = window.prompt('請輸入修改內容', todo.content)
          if (content.trim()) {
            todo.content = content.trim()
            window.localStorage.setItem('myTodos', JSON.stringify(this.todos))
          }
        },
        addTodo({ year, month, date }) {
          let content = window.prompt('說輸入代辦事項', '')
          let y = this.todos[year] || {}
          let m = y[month] || {}
          let d = m[date] || []
          d.push({
            content: content.trim(),
            done: false
          })
          this.$set(this.todos, year, y)
          this.$set(this.todos[year], month, m)
          this.$set(this.todos[year][month], date, d)
          window.localStorage.setItem('myTodos', JSON.stringify(this.todos))
        },
        getTodos({ year, month, date }) {
          return year in this.todos && month in this.todos[year] && date in this.todos[year][month] ? this.todos[year][month][date] : []
        },
        setToday() {
          const date = new Date()
          this.today.year = this.calendar.year = date.getFullYear()
          this.today.month = this.calendar.month = date.getMonth()
          this.today.date = this.calendar.date = date.getDate()
          this.today.day = this.calendar.day = date.getDay()
        },
        adjustYear(fix) {
          this.calendar.year += fix
        },
        adjustMonth(fix) {
          let month = this.calendar.month + fix
          if (month > 11) {
            this.adjustYear(1)
            this.calendar.month = 0
          } else if (month < 0) {
            this.adjustYear(-1)
            this.calendar.month = 11
          } else {
            this.calendar.month = month
          }
        },
      },
      computed: {
        calendarFirstDay() {
          const mDate = new Date(this.calendar.year, this.calendar.month, 1)
          const date = new Date(this.calendar.year, this.calendar.month, 1 - mDate.getDay())
          return {
            year: date.getFullYear(),
            month: date.getMonth(),
            date: date.getDate(),
            day: date.getDay(),
          }
        },
        calendarMonth() {
          const data = []
          let date = ''
          for (let i = 0; i < 42; i++) {
            date = new Date(this.calendarFirstDay.year, this.calendarFirstDay.month, this.calendarFirstDay.date + i)
            let d = {
              year: date.getFullYear(),
              month: date.getMonth(),
              date: date.getDate(),
              day: date.getDay(),
            }
            d.count = this.getTodos(d).length
            d.todos = this.getTodos(d)
            data.push(d)
          }
          return data
        },
        currentMonth() {
          return this.calendarMonth.filter(date => {
            return date.month === this.calendar.month && date.count
          })
        }
      }
    })
  </script>
</body>

</html>
